body {
  font-family: Arial;
  text-align: center;
  background: #121212;
  color: white;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border: none;
  background: #1db954;
  color: white;
  font-weight: bold;
}

img {
  border-radius: 50%;
}
